.Text-styles-body-mobile-lg-bold {
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 800;
}
.Text-styles-body-mobile-lg-medium {
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 500;
}
.Text-styles-body-mobile-lg-regular {
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 400;
}
.Text-styles-body-mobile-md-bold {
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 800;
}
.Text-styles-body-mobile-md-medium {
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 500;
}
.Text-styles-body-pc-lg-bold {
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
}
.Text-styles-body-pc-lg-medium {
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
}
.Text-styles-body-pc-lg-regular {
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 400;
}
.Text-styles-body-pc-md-bold {
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 800;
}
.Text-styles-body-pc-md-medium {
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 500;
}
.Text-styles-body-pc-md-regular {
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 400;
}
.Text-styles-body-pc-sm-bold {
	font-family: DM Sans;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
}
.Text-styles-body-pc-sm-medium {
	font-family: DM Sans;
	font-size: 12px;
	font-weight: 500;
}
.Text-styles-body-pc-sm-regular {
	font-family: DM Sans;
	font-size: 12px;
	font-weight: 400;
}
.Text-styles-display-mobile-lg-bold {
	font-family: DM Sans;
	font-size: 22px;
	font-weight: 700;
}
.Text-styles-display-pc-lg-bold {
	font-family: DM Sans;
	font-size: 32px;
	font-weight: 700;
}
.Text-styles-Heading-pc-sub-heading-bold {
	font-family: DM Sans;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 800;
}
.Text-styles-Heading-pc-h1-bold {
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
}
.Text-styles-Heading-pc-h2-bold {
	font-family: DM Sans;
	font-size: 22px;
	font-weight: 700;
}
.Text-styles-Heading-pc-h3-bold {
	font-family: DM Sans;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
}