:root[data-component="component"] {
  --button-bg-primary-default: var(--bg-primary-default);
  --button-border-primary: var(--border-primary-default);
  --button-text-primary: var(--text-neutral-white);
  --button-text-secondary: var(--text-utilities-decorate-primary);
  --button-text-secondary-hover: var(--button-text-primary);
  --tab-bg-active: var(--bg-primary-default);
  --tab-bg-default: var(--bg-surface-main);
  --tab-text-active: var(--text-neutral-body);
  --tab-text-default: var(--text-neutral-body);
}
:root[data-semantic="semantic"] {
  --bg-primary-default: var(--primary-default);
  --border-primary-default: var(--blue-B700);
  --text-neutral-white: var(--neutral-white);
  --text-utilities-decorate-primary: var(--blue-B700);
  --bg-surface-main: var(--neutral-white);
  --text-neutral-body: var(--grey-G600);
  --bg-neutral-disable: var(--neutral-black);
  --bg-neutral-input: var(--grey-G200);
  --bg-surface-card: var(--neutral-white);
  --bg-surface-main-inverse: var(--grey-G950);
  --bg-surface-modal: var(--neutral-white);
  --bg-surface-transparent: var(--neutral-transparent);
  --border-neutral-black: var(--neutral-black);
  --border-neutral-default: var(--grey-G200);
  --border-neutral-input: var(--grey-G200);
  --text-neutral-display: var(--grey-G950);
  --text-neutral-heading: var(--grey-G700);
  --text-neutral-sub-heading: var(--grey-G600);
  --text-utilities-link-default: var(--blue-B400);
  --text-utilities-link-hover: var(--blue-B300);
  --text-utilities-link-visited: var(--blue-B500);
}
:root[data-primitive="alias"] {
  --primary-default: rgb(0, 144, 218);
  --blue-B700: rgb(1, 103, 156);
  --neutral-white: rgb(255, 255, 255);
  --grey-G600: rgb(75, 85, 99);
  --blue-B100: rgb(224, 242, 254);
  --blue-B200: rgb(186, 230, 253);
  --blue-B300: rgb(125, 211, 252);
  --blue-B400: rgb(56, 189, 248);
  --blue-B50: rgb(240, 249, 255);
  --blue-B500: rgb(14, 165, 233);
  --blue-B600: rgb(2, 132, 199);
  --emerald-E100: rgb(220, 252, 231);
  --emerald-E200: rgb(187, 247, 208);
  --emerald-E300: rgb(134, 239, 172);
  --emerald-E400: rgb(74, 222, 128);
  --emerald-E50: rgb(240, 253, 244);
  --emerald-E500: rgb(34, 197, 94);
  --emerald-E600: rgb(22, 163, 74);
  --emerald-E700: rgb(21, 128, 61);
  --emerald-E800: rgb(22, 101, 52);
  --emerald-E900: rgb(20, 83, 45);
  --emerald-E950: rgb(5, 46, 22);
  --grey-G100: rgb(243, 244, 246);
  --grey-G200: rgb(229, 231, 235);
  --grey-G300: rgb(209, 213, 219);
  --grey-G400: rgb(156, 163, 175);
  --grey-G50: rgb(249, 250, 251);
  --grey-G500: rgb(107, 114, 128);
  --grey-G700: rgb(55, 65, 81);
  --grey-G800: rgb(31, 41, 55);
  --grey-G900: rgb(17, 24, 39);
  --grey-G950: rgb(3, 7, 18);
  --neutral-black: rgb(0, 0, 0);
  --neutral-transparent: rgba(255, 255, 255, 0);
  --neutral-white-10: rgba(255, 255, 255, 0.1);
  --neutral-white-20: rgba(255, 255, 255, 0.1);
  --neutral-white-30: rgba(255, 255, 255, 0.1);
  --neutral-white-40: rgba(255, 255, 255, 0.1);
  --neutral-white-50: rgba(255, 255, 255, 0.1);
  --neutral-white-60: rgba(255, 255, 255, 0.1);
  --neutral-white-70: rgba(255, 255, 255, 0.1);
  --neutral-white-80: rgba(255, 255, 255, 0.1);
  --neutral-white-90: rgba(255, 255, 255, 0.1);
  --red-R100: rgb(254, 226, 226);
  --red-R200: rgb(254, 202, 202);
  --red-R300: rgb(252, 165, 165);
  --red-R400: rgb(248, 113, 113);
  --red-R50: rgb(254, 242, 242);
  --red-R500: rgb(239, 68, 68);
  --red-R600: rgb(220, 38, 38);
  --red-R700: rgb(185, 28, 28);
  --red-R800: rgb(153, 27, 27);
  --red-R900: rgb(127, 29, 29);
  --red-R950: rgb(69, 10, 10);
  --yellow-Y100: rgb(254, 249, 195);
  --yellow-Y200: rgb(254, 240, 138);
  --yellow-Y300: rgb(253, 224, 71);
  --yellow-Y400: rgb(250, 204, 21);
  --yellow-Y50: rgb(254, 252, 232);
  --yellow-Y500: rgb(234, 179, 8);
  --yellow-Y600: rgb(202, 138, 4);
  --yellow-Y700: rgb(161, 98, 7);
  --yellow-Y800: rgb(133, 77, 14);
  --yellow-Y900: rgb(113, 63, 18);
  --yellow-Y950: rgb(66, 32, 6);
}
:root[data-demention="spacer"] {
  --core-2: 2px;
  --core-4: 4px;
  --core-6: 6px;
  --core-8: 8px;
  --core-10: 10px;
  --core-12: 12px;
  --core-14: 14px;
  --core-16: 16px;
  --core-18: 18px;
  --core-20: 20px;
  --core-24: 24px;
  --core-32: 32px;
  --core-40: 40px;
  --core-48: 48px;
  --core-56: 56px;
  --core-64: 64px;
  --core-72: 72px;
  --core-80: 80px;
  --radius-r10: var(--core-10);
  --radius-r12: var(--core-12);
  --radius-r14: var(--core-14);
  --radius-r16: var(--core-16);
  --radius-r18: var(--core-18);
  --radius-r2: var(--core-2);
  --radius-r20: var(--core-20);
  --radius-r24: var(--core-24);
  --radius-r32: var(--core-32);
  --radius-r4: var(--core-4);
  --radius-r40: var(--core-40);
  --radius-r6: var(--core-6);
  --radius-r8: var(--core-8);
  --spacing-m40: var(--core-40);
  --spacing-m48: var(--core-48);
  --spacing-m56: var(--core-56);
  --spacing-m6: var(--core-6);
  --spacing-m64: var(--core-64);
  --spacing-m72: var(--core-72);
  --spacing-m8: var(--core-8);
  --spacing-m80: var(--core-80);
  --spacing-p10: var(--core-10);
  --spacing-p12: var(--core-12);
  --spacing-p14: var(--core-14);
  --spacing-p16: var(--core-16);
  --spacing-p18: var(--core-18);
  --spacing-p2: var(--core-2);
  --spacing-p20: var(--core-20);
  --spacing-p24: var(--core-24);
  --spacing-p32: var(--core-32);
  --spacing-p4: var(--core-4);
  --spacing-p40: var(--core-40);
  --spacing-p48: var(--core-48);
  --spacing-p56: var(--core-56);
  --spacing-p6: var(--core-6);
  --spacing-p64: var(--core-64);
  --spacing-p72: var(--core-72);
  --spacing-p8: var(--core-8);
  --spacing-p80: var(--core-80);
  --spacing-m10: var(--core-10);
  --spacing-m12: var(--core-12);
  --spacing-m14: var(--core-14);
  --spacing-m16: var(--core-16);
  --spacing-m18: var(--core-18);
  --spacing-m2: var(--core-2);
  --spacing-m20: var(--core-20);
  --spacing-m24: var(--core-24);
  --spacing-m32: var(--core-32);
  --spacing-m4: var(--core-4);
}
