:root[data-demention="spacer"] {
  --p-2: var(--m-2);
  --m-2: 2px;
  --p-4: var(--m-4);
  --m-4: 4px;
  --p-6: var(--m-6);
  --m-6: 6px;
  --p-8: var(--m-8);
  --m-8: 8px;
  --p-10: var(--m-10);
  --m-10: 10px;
  --p-12: var(--m-12);
  --m-12: 12px;
  --p-14: var(--m-14);
  --m-14: 14px;
  --p-16: var(--m-16);
  --m-16: 16px;
  --p-18: var(--m-18);
  --m-18: 18px;
  --p-20: var(--m-20);
  --m-20: 20px;
  --p-24: var(--m-24);
  --m-24: 24px;
  --p-32: var(--m-32);
  --m-32: 32px;
  --p-40: var(--m-40);
  --m-40: 40px;
  --p-48: var(--m-48);
  --m-48: 48px;
  --p-56: var(--m-56);
  --m-56: 56px;
  --p-m10: var(--m-10);
  --p-m12: var(--m-12);
  --p-m14: var(--m-14);
  --p-m16: var(--m-16);
  --p-m18: var(--m-18);
  --p-m2: var(--m-2);
  --p-m20: var(--m-20);
  --p-m24: var(--m-24);
  --p-m32: var(--m-32);
  --p-m4: var(--m-4);
  --p-m40: var(--m-40);
  --p-m48: var(--m-48);
  --p-m56: var(--m-56);
  --p-m6: var(--m-6);
  --p-m64: var(--m-64);
  --m-64: 64px;
  --p-m72: var(--m-72);
  --m-72: 72px;
  --p-m8: var(--m-8);
  --p-m80: var(--m-80);
  --m-80: 80px;
  --p-p64: var(--m-64);
  --p-p72: var(--m-72);
  --p-p80: var(--m-80);
  --r-2: var(--m-2);
  --r-4: var(--m-4);
  --r-6: var(--m-6);
  --r-8: var(--m-8);
  --r-10: var(--m-10);
  --r-12: var(--m-12);
  --r-14: var(--m-14);
  --r-16: var(--m-16);
  --r-18: var(--m-18);
  --r-20: var(--m-20);
  --r-24: var(--m-24);
  --r-32: var(--m-32);
  --r-40: var(--m-40);
}
:root[data-component="component"] {
  --button-bg-primary-default: var(--bg-primary-default);
  --button-border-primary: var(--border-primary-default);
  --button-text-primary: var(--text-neutral-white);
  --button-text-secondary: var(--text-utilities-decorate-primary);
  --button-text-secondary-hover: var(--button-text-primary);
  --tab-bg-active: var(--bg-primary-default);
  --tab-bg-default: var(--bg-surface-main);
  --tab-text-active: var(--text-neutral-body);
  --tab-text-default: var(--text-neutral-body);
}
:root[data-semantic="semantic"] {
  --bg-primary-default: var(--primary-default);
  --border-primary-default: var(--blue-B700);
  --text-neutral-white: var(--neutral-white);
  --text-utilities-decorate-primary: var(--blue-B700);
  --bg-surface-main: var(--neutral-white);
  --text-neutral-body: var(--grey-G600);
  --bg-neutral-disable: var(--neutral-black);
  --bg-neutral-input: var(--grey-G200);
  --bg-surface-card: var(--neutral-white);
  --bg-surface-main-inverse: var(--grey-G950);
  --bg-surface-modal: var(--neutral-white);
  --bg-surface-transparent: var(--neutral-transparent);
  --border-neutral-black: var(--neutral-black);
  --border-neutral-default: var(--grey-G200);
  --border-neutral-input: var(--grey-G200);
  --text-neutral-display: var(--grey-G950);
  --text-neutral-heading: var(--grey-G700);
  --text-neutral-sub-heading: var(--grey-G600);
  --text-utilities-link-default: var(--blue-B400);
  --text-utilities-link-hover: var(--blue-B300);
  --text-utilities-link-visited: var(--blue-B500);
}
:root[data-primitive="alias"] {
  --primary-default: rgb(0, 144, 218);
  --blue-B700: rgb(1, 103, 156);
  --neutral-white: rgb(255, 255, 255);
  --grey-G600: rgb(75, 85, 99);
  --emerald-E900: rgb(20, 83, 45);
  --emerald-E100: rgb(220, 252, 231);
  --emerald-E200: rgb(187, 247, 208);
  --emerald-E300: rgb(134, 239, 172);
  --emerald-E400: rgb(74, 222, 128);
  --emerald-E50: rgb(240, 253, 244);
  --emerald-E500: rgb(34, 197, 94);
  --emerald-E600: rgb(22, 163, 74);
  --emerald-E700: rgb(21, 128, 61);
  --emerald-E800: rgb(22, 101, 52);
  --emerald-E950: rgb(5, 46, 22);
  --blue-B100: rgb(224, 242, 254);
  --blue-B200: rgb(186, 230, 253);
  --blue-B300: rgb(125, 211, 252);
  --blue-B400: rgb(56, 189, 248);
  --blue-B50: rgb(240, 249, 255);
  --blue-B500: rgb(14, 165, 233);
  --blue-B600: rgb(2, 132, 199);
  --neutral-white-50: rgba(255, 255, 255, 0.1);
  --neutral-white-60: rgba(255, 255, 255, 0.1);
  --neutral-white-70: rgba(255, 255, 255, 0.1);
  --neutral-white-80: rgba(255, 255, 255, 0.1);
  --neutral-white-90: rgba(255, 255, 255, 0.1);
  --neutral-black: rgb(0, 0, 0);
  --neutral-transparent: rgba(255, 255, 255, 0);
  --neutral-white-10: rgba(255, 255, 255, 0.1);
  --neutral-white-20: rgba(255, 255, 255, 0.1);
  --neutral-white-30: rgba(255, 255, 255, 0.1);
  --neutral-white-40: rgba(255, 255, 255, 0.1);
  --red-R100: rgb(254, 226, 226);
  --red-R200: rgb(254, 202, 202);
  --red-R300: rgb(252, 165, 165);
  --red-R400: rgb(248, 113, 113);
  --red-R50: rgb(254, 242, 242);
  --red-R500: rgb(239, 68, 68);
  --red-R600: rgb(220, 38, 38);
  --red-R700: rgb(185, 28, 28);
  --red-R800: rgb(153, 27, 27);
  --red-R900: rgb(127, 29, 29);
  --red-R950: rgb(69, 10, 10);
  --yellow-Y100: rgb(254, 249, 195);
  --yellow-Y200: rgb(254, 240, 138);
  --yellow-Y300: rgb(253, 224, 71);
  --yellow-Y400: rgb(250, 204, 21);
  --yellow-Y50: rgb(254, 252, 232);
  --yellow-Y500: rgb(234, 179, 8);
  --yellow-Y600: rgb(202, 138, 4);
  --yellow-Y700: rgb(161, 98, 7);
  --yellow-Y800: rgb(133, 77, 14);
  --yellow-Y900: rgb(113, 63, 18);
  --yellow-Y950: rgb(66, 32, 6);
  --grey-G100: rgb(243, 244, 246);
  --grey-G200: rgb(229, 231, 235);
  --grey-G300: rgb(209, 213, 219);
  --grey-G400: rgb(156, 163, 175);
  --grey-G50: rgb(249, 250, 251);
  --grey-G500: rgb(107, 114, 128);
  --grey-G700: rgb(55, 65, 81);
  --grey-G800: rgb(31, 41, 55);
  --grey-G900: rgb(17, 24, 39);
  --grey-G950: rgb(3, 7, 18);
}
:root {
  --Text-styles-body-mobile-lg-bold-font-style: normal;
  --Text-styles-body-mobile-lg-bold-font-family: "DM Sans";
  --Text-styles-body-mobile-lg-bold-font-weight: 800;
  --Text-styles-body-mobile-lg-bold-font-size: 14px;
  --Text-styles-body-mobile-lg-bold-text-indent: 0px;
  --Text-styles-body-mobile-lg-bold-letter-spacing: 0%;
  --Text-styles-body-mobile-lg-bold-text-decoration: none;
  --Text-styles-body-mobile-lg-medium-font-style: normal;
  --Text-styles-body-mobile-lg-medium-font-family: "DM Sans";
  --Text-styles-body-mobile-lg-medium-font-weight: 500;
  --Text-styles-body-mobile-lg-medium-font-size: 14px;
  --Text-styles-body-mobile-lg-medium-text-indent: 0px;
  --Text-styles-body-mobile-lg-medium-letter-spacing: 0%;
  --Text-styles-body-mobile-lg-medium-text-decoration: none;
  --Text-styles-body-mobile-lg-regular-font-style: normal;
  --Text-styles-body-mobile-lg-regular-font-family: "DM Sans";
  --Text-styles-body-mobile-lg-regular-font-weight: 400;
  --Text-styles-body-mobile-lg-regular-font-size: 14px;
  --Text-styles-body-mobile-lg-regular-text-indent: 0px;
  --Text-styles-body-mobile-lg-regular-letter-spacing: 0%;
  --Text-styles-body-mobile-lg-regular-text-decoration: none;
  --Text-styles-body-mobile-md-bold-font-style: normal;
  --Text-styles-body-mobile-md-bold-font-family: "DM Sans";
  --Text-styles-body-mobile-md-bold-font-weight: 800;
  --Text-styles-body-mobile-md-bold-font-size: 14px;
  --Text-styles-body-mobile-md-bold-text-indent: 0px;
  --Text-styles-body-mobile-md-bold-letter-spacing: 0%;
  --Text-styles-body-mobile-md-bold-text-decoration: none;
  --Text-styles-body-mobile-md-medium-font-style: normal;
  --Text-styles-body-mobile-md-medium-font-family: "DM Sans";
  --Text-styles-body-mobile-md-medium-font-weight: 500;
  --Text-styles-body-mobile-md-medium-font-size: 14px;
  --Text-styles-body-mobile-md-medium-text-indent: 0px;
  --Text-styles-body-mobile-md-medium-letter-spacing: 0%;
  --Text-styles-body-mobile-md-medium-text-decoration: none;
  --Text-styles-body-pc-lg-bold-font-style: normal;
  --Text-styles-body-pc-lg-bold-font-family: "DM Sans";
  --Text-styles-body-pc-lg-bold-font-weight: 700;
  --Text-styles-body-pc-lg-bold-font-size: 16px;
  --Text-styles-body-pc-lg-bold-text-indent: 0px;
  --Text-styles-body-pc-lg-bold-letter-spacing: 0%;
  --Text-styles-body-pc-lg-bold-text-decoration: none;
  --Text-styles-body-pc-lg-medium-font-style: normal;
  --Text-styles-body-pc-lg-medium-font-family: "DM Sans";
  --Text-styles-body-pc-lg-medium-font-weight: 500;
  --Text-styles-body-pc-lg-medium-font-size: 16px;
  --Text-styles-body-pc-lg-medium-text-indent: 0px;
  --Text-styles-body-pc-lg-medium-letter-spacing: 0%;
  --Text-styles-body-pc-lg-medium-text-decoration: none;
  --Text-styles-body-pc-lg-regular-font-style: normal;
  --Text-styles-body-pc-lg-regular-font-family: "DM Sans";
  --Text-styles-body-pc-lg-regular-font-weight: 400;
  --Text-styles-body-pc-lg-regular-font-size: 16px;
  --Text-styles-body-pc-lg-regular-text-indent: 0px;
  --Text-styles-body-pc-lg-regular-letter-spacing: 0%;
  --Text-styles-body-pc-lg-regular-text-decoration: none;
  --Text-styles-body-pc-md-bold-font-style: normal;
  --Text-styles-body-pc-md-bold-font-family: "DM Sans";
  --Text-styles-body-pc-md-bold-font-weight: 800;
  --Text-styles-body-pc-md-bold-font-size: 14px;
  --Text-styles-body-pc-md-bold-text-indent: 0px;
  --Text-styles-body-pc-md-bold-letter-spacing: 0%;
  --Text-styles-body-pc-md-bold-text-decoration: none;
  --Text-styles-body-pc-md-medium-font-style: normal;
  --Text-styles-body-pc-md-medium-font-family: "DM Sans";
  --Text-styles-body-pc-md-medium-font-weight: 500;
  --Text-styles-body-pc-md-medium-font-size: 14px;
  --Text-styles-body-pc-md-medium-text-indent: 0px;
  --Text-styles-body-pc-md-medium-letter-spacing: 0%;
  --Text-styles-body-pc-md-medium-text-decoration: none;
  --Text-styles-body-pc-md-regular-font-style: normal;
  --Text-styles-body-pc-md-regular-font-family: "DM Sans";
  --Text-styles-body-pc-md-regular-font-weight: 400;
  --Text-styles-body-pc-md-regular-font-size: 14px;
  --Text-styles-body-pc-md-regular-text-indent: 0px;
  --Text-styles-body-pc-md-regular-letter-spacing: 0%;
  --Text-styles-body-pc-md-regular-text-decoration: none;
  --Text-styles-body-pc-sm-bold-font-style: normal;
  --Text-styles-body-pc-sm-bold-font-family: "DM Sans";
  --Text-styles-body-pc-sm-bold-font-weight: 700;
  --Text-styles-body-pc-sm-bold-font-size: 12px;
  --Text-styles-body-pc-sm-bold-text-indent: 0px;
  --Text-styles-body-pc-sm-bold-letter-spacing: 0%;
  --Text-styles-body-pc-sm-bold-text-decoration: none;
  --Text-styles-body-pc-sm-medium-font-style: normal;
  --Text-styles-body-pc-sm-medium-font-family: "DM Sans";
  --Text-styles-body-pc-sm-medium-font-weight: 500;
  --Text-styles-body-pc-sm-medium-font-size: 12px;
  --Text-styles-body-pc-sm-medium-text-indent: 0px;
  --Text-styles-body-pc-sm-medium-letter-spacing: 0%;
  --Text-styles-body-pc-sm-medium-text-decoration: none;
  --Text-styles-body-pc-sm-regular-font-style: normal;
  --Text-styles-body-pc-sm-regular-font-family: "DM Sans";
  --Text-styles-body-pc-sm-regular-font-weight: 400;
  --Text-styles-body-pc-sm-regular-font-size: 12px;
  --Text-styles-body-pc-sm-regular-text-indent: 0px;
  --Text-styles-body-pc-sm-regular-letter-spacing: 0%;
  --Text-styles-body-pc-sm-regular-text-decoration: none;
  --Text-styles-display-mobile-lg-bold-font-style: normal;
  --Text-styles-display-mobile-lg-bold-font-family: "DM Sans";
  --Text-styles-display-mobile-lg-bold-font-weight: 700;
  --Text-styles-display-mobile-lg-bold-font-size: 22px;
  --Text-styles-display-mobile-lg-bold-text-indent: 0px;
  --Text-styles-display-mobile-lg-bold-letter-spacing: 0%;
  --Text-styles-display-mobile-lg-bold-text-decoration: none;
  --Text-styles-display-pc-lg-bold-font-style: normal;
  --Text-styles-display-pc-lg-bold-font-family: "DM Sans";
  --Text-styles-display-pc-lg-bold-font-weight: 700;
  --Text-styles-display-pc-lg-bold-font-size: 32px;
  --Text-styles-display-pc-lg-bold-text-indent: 0px;
  --Text-styles-display-pc-lg-bold-letter-spacing: 0%;
  --Text-styles-display-pc-lg-bold-text-decoration: none;
  --Text-styles-Heading-pc-h1-bold-font-style: normal;
  --Text-styles-Heading-pc-h1-bold-font-family: "DM Sans";
  --Text-styles-Heading-pc-h1-bold-font-weight: 700;
  --Text-styles-Heading-pc-h1-bold-font-size: 24px;
  --Text-styles-Heading-pc-h1-bold-text-indent: 0px;
  --Text-styles-Heading-pc-h1-bold-letter-spacing: 0%;
  --Text-styles-Heading-pc-h1-bold-text-decoration: none;
  --Text-styles-Heading-pc-h2-bold-font-style: normal;
  --Text-styles-Heading-pc-h2-bold-font-family: "DM Sans";
  --Text-styles-Heading-pc-h2-bold-font-weight: 700;
  --Text-styles-Heading-pc-h2-bold-font-size: 22px;
  --Text-styles-Heading-pc-h2-bold-text-indent: 0px;
  --Text-styles-Heading-pc-h2-bold-letter-spacing: 0%;
  --Text-styles-Heading-pc-h2-bold-text-decoration: none;
  --Text-styles-Heading-pc-h3-bold-font-style: normal;
  --Text-styles-Heading-pc-h3-bold-font-family: "DM Sans";
  --Text-styles-Heading-pc-h3-bold-font-weight: 700;
  --Text-styles-Heading-pc-h3-bold-font-size: 20px;
  --Text-styles-Heading-pc-h3-bold-text-indent: 0px;
  --Text-styles-Heading-pc-h3-bold-letter-spacing: 0%;
  --Text-styles-Heading-pc-h3-bold-text-decoration: none;
  --Text-styles-Heading-pc-sub-heading-bold-font-style: normal;
  --Text-styles-Heading-pc-sub-heading-bold-font-family: "DM Sans";
  --Text-styles-Heading-pc-sub-heading-bold-font-weight: 800;
  --Text-styles-Heading-pc-sub-heading-bold-font-size: 16px;
  --Text-styles-Heading-pc-sub-heading-bold-text-indent: 0px;
  --Text-styles-Heading-pc-sub-heading-bold-letter-spacing: 0%;
  --Text-styles-Heading-pc-sub-heading-bold-text-decoration: none;
}
